@page "/employeedetail/{id}"

<h2>Detail Employee</h2><br/>
        <tr><td><b>1. Employee Id</b></td> <td><b> : @Employee.EmployeeId</b></td></tr> 
        <tr><td><b>2. First Name</b></td> <td><b> : @Employee.FirstName</b></td></tr>
        <tr><td><b>3. Last Name</b></td> <td><b> : @Employee.LastName</b></td></tr>
        <tr><td><b>4. Email</b></td> <td><b> : @Employee.Email</b></td></tr>
        <tr><td><b>5. DateOfBirth</b></td> <td><b> : @Employee.DateOfBirth</b></td></tr>
        <tr><td><b>6. Gender</b></td> <td><b> : @Employee.Gender</b></td></tr><br/>
        <tr><td><b>7. DepartmentId</b></td> <td><b> : @Employee.DepartmentId</b></td></tr>
        <tr><td><b>8. PhotoPath</b></td><td><b> : @Employee.PhotoPath</b></td></tr><br/>
        <tr>created by : Roitonia Panjaitan_72190358</tr>
